@inherits LayoutComponentBase
<div class="d-flex flex-column" style="height: 100vh;">
    <Menu/>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
